* {
    font-family: 'Inter', sans-serif;
}
.tutorials {
    margin-bottom: 3rem;
}
.tutorials-navigator {
    width: 25vw;
    display:flex;
    align-content: center;
    flex-direction: column;
    background-color: #F1EEE0;
    border-radius: 10px;
    padding: 20px 30px;
}

.tutorials-navigator a {
    text-decoration: none;
    font-size:20px;
    font-family: 'Inter', sans-serif;
    color: #455726;
    padding: 0.25rem;
}

/*Content*/
.redirection-message-out {
    margin: 3rem 7rem;
    background-color: #F1EEE0;
    text-align: center;
    padding: 0.5rem 0;
}

.redirection-message {
    background-color: #F1EEE0;
    text-align: center;
    padding: 0.5rem 0;
}

.redirection-message-out a, .redirection-message a {
    text-decoration: none;
    color:#455726;
    font-weight:bold;
}


.tutorial-section {
    margin: 3rem 7rem;
}

.tutorial-section-title h1 {
    font-family: 'Reenie Beanie', sans-serif;
    font-size: 48px;
    width: 60%;
}

.tutorial-section-title p{
    width: 60%;
}

.tutorial-section-content {
    width: 60%;
}

.tutorial-content-variance h2 {
    color:#455726;
    margin:3rem 0;
}

.tutorial-video-container {
    background-color:white;
    width: 640px;
    height: 360px;
}